<img class="uk-align-center" src="/assets/images/pancakev2.png" alt="">
<h1 class="uk-text-center">3 Stacks</h1>
<hr class="uk-divider-icon">

{{!-- form div --}}
<div class="uk-text-center">
    <p class="uk-text-lead">add a pancake dish to the menu:</p>
    <form class="uk-width-1-2@m uk-align-center" action="/stacks" method="POST">
        <fieldset class="uk-fieldset">
            <div>
                <input class="uk-input" type="text" id="name" name="stacks_name">
            </div>
        </fieldset>
        <button class="uk-button uk-button-default" type="submit"><span uk-icon="arrow-down"></span> add stacks</button>
    </form>
</div>

<div class="uk-grid-small uk-child-width-expand@s" uk-grid>
    
    {{!-- menu card - left side --}}
    <div class="menuCard uk-card uk-card-body uk-width-1-2@m">
        <h3 class="uk-card-title"><span uk-icon="tag"></span> Menu</h3>
        <p class="uk-text-center">click the <span uk-icon="bolt"></span> to devour</p>
        <hr>
        <ol>
            {{#each stacks}}
                {{#unless this.devoured}}
                    <form action="/stacks/{{this.id}}?_method=PUT" method="POST"><li>{{this.id}}. {{this.stacks_name}} <button href="" type="submit" class="uk-icon-link" uk-icon="bolt"></button></li></form>
                {{/unless}}
            {{/each}}
        </ol>
    </div>

    {{!-- devoured card - right side --}}
    <div class="devouredCard uk-card uk-card-body uk-width-1-2@m">
        <h3 class="uk-card-title"><span uk-icon="bolt"></span> Devoured</h3>
        <hr>
        <ol>
            {{#each stacks}}
                {{#if this.devoured}}
                    <li>{{this.id}}. <s>{{this.stacks_name}}</s></li>
                {{/if}}
            {{/each}}
        </ol>
    </div>
</div> {{!-- closing uk-grid --}}
 

